body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.list{
  padding: 0 80px ;
width: 300px;
height: 200px;
border: solid 1px;
border-radius: 5px;}
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  
  padding: 8px;
  margin-bottom: 8px;
  background-color: #f9f9f9;
  border-radius: 4px;
}



button {
  margin-left: 8px;
  padding: 4px 8px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

input {
  margin-right: 8px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
